@charset "utf-8";
/* CSS Document */


/*контейнер для карты*/
div#imap{
    width:900px;
    height:600px;
    margin:0 auto 10px;
    background: url(../images/Slide10/map_bg.png) no-repeat;
    position:relative;
}
/*города на карте*/
 div#imap a{
    position:absolute;
    text-decoration:none;
    background: url(../images/Slide10/b_sprite.png) no-repeat;
    color:#000;
    font-weight:bold;
    padding-left:14px;
    font-size:.7em;
}
div#imap a:hover{
    background-position:0 -13px;
}
/*всплывающий блок с картой*/
div#container{
    display:none;
    position:absolute;
    margin:0 auto;
    background: #b8b8b6;
    padding:10px;
    border:1px solid #999;
	top:10px;
	left:60%;}
/*город Мурманск*/
a#murm{
    top:10px;
    left:240px;
}
/*город Мончегорск*/
a#monch{
    top:30px;
    left:240px;
}
/*город Апатиты*/
a#apat{
    top:50px;
    left:240px;
}
/*город Кандалакша*/
a#kand{
    top:70px;
    left:240px;
}
/*город Петрозаводск*/
a#petr{
    top:90px;
    left:240px;
}

/*город Сыктывкар*/
a#syk{
    top:210px;
    left:250px;
}
/*город Ухта*/
a#uhta{
    top:190px;
    left:250px;
}
/*город Киров*/
a#kir{
    top:230px;
    left:250px;
}
/*город Пермь*/
a#perm{
    top:250px;
    left:250px;
}

/*город Санкт-Петербург*/
a#spb{
    top:105px;
    left:130px;
}

/*город Архангельск*/
a#arh{
    top:125px;
    left:230px;
}
/*город Котлас*/
a#kotl{
     top:145px;
    left:230px;
}
/*город Вельск*/
a#vel{
	top:165px;
    left:230px;
}

/*город Вологда*/
a#vol{
    top:155px;
    left:140px;
}
/*город Череповец*/
a#cher{
    top:175px;
    left:140px;
}


/*город Н. Новгород*/
a#nov{
    top:195px;
    left:140px;
}
/*город Брянск*/
a#br{
    top:215px;
    left:140px;
}

